body {
  margin: 0 ! important;
  padding: 0 ! important;
  font-family: 'Ubuntu', sans-serif ! important;
}

.jumbotron {
  background-color: crimson ! important;
  color: white ! important;
}

ol {
  margin-left: 5rem;
}

li {
  padding: 0.50rem;
}